#gameover {
  text-align: center;
  max-width: 31.25rem;
  display: flex;
  flex-direction: column;
}

#gameover h2,
#gameover p {
  margin-bottom: 1rem;
}

#gameover p {
  color: #8335de;
}

#gameover img {
  margin: 2rem;
  max-height: 12.5rem;
}
